.hero{
    background: url("https://picsum.photos/1600/800?grayscale") center/cover no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 32px;
    width: 100%;
}

.map-responsive{
    position: relative;
    padding: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
}

.map-responsive > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}